<%=render "shared/language"%>
<div class="main-title">
  <h1><%=t "blogs.title"%></h1>
    <div class="divider">
      <div class="zigzag large clearfix "  data-svg-drawing="yes" >
        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
          29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
        </svg>
      </div>
    </div>
</div>
<!--End main title-->
<!--Content-->
              <div class="content">

                <!--Block content-->
                <div class="block-content ">
                <!--Works-->
                <div class="blog">
<!--Row-->
  <%@blog.each do |blog|%>
                <div class="row">


                  <!--Blog posts-->
                  <div class="block-posts ">
                    <!--Block post-->
                    <div class="block-post ">
                      <div class="col-md-12">
                        <div class="post-media margBSmall">
                          <img src="<%=blog.image%>" alt=""/>
                        </div>
                        <div class="post-title">
                          <a href="blogs/<%=blog.id%>">
                            <h1><%=blog.title%></h1>
                          </a>
                        <span class="meta-date"><%=blog.created_at%></span>
                                      </div>


                      <ul class="post-meta">
                        <li>
                          <i class="fa fa-user"></i>
                            <span><%=t "blogs.postby"%>
                              <a href="#"><%=blog.author%></a>
                            </span>
                          </li>
                      </ul>

                      <hr>

                      <p><%=blog.description%></p>

                        <%=link_to "Read More", blog, :class=>"but brd"%>
                      </div>


                      <div class="clearfix"></div>


                      <!--Divider-->
                      <div class="divider-m tCenter margTSmall margBottom clearfix">
                        <div class="col-md-12">
                          <div class="zigzag medium clearfix "  data-svg-drawing="yes" >
    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="45" height="5" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
      29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
    </svg>
  </div>
                        </div>
                      </div>
                      <!--End divider-->




                    </div>
                    <!--End block post-->

                  </div>
                  <!--End blog posts-->


                  </div>
                  <!--End row-->
                  <%end%>
                    <div class="block-all tCenter margTSmall margBSmall">
                    <%=link_to "View All Blog Posts","/blogs", :class=>"but brd"%>
                    </div>




                              </div>
                <!--End blog-->

                </div>
                <!--End block content-->



                </div>
                <!--End content-->
