<ul class="breadcrumb" style="background:none;margin-bottom:0px;">
  <li><%= link_to url_for(locale: :en) do
      image_tag("/us.png" ,class: 'img-language')
  end%></li>
  <li><%= link_to url_for(locale: :kh) do
      image_tag("/kh.png" ,class: 'img-language')
  end%></li>

</ul>
