<div class="col-md-3 nopr left-content">
      <!--Main header-->
      <div class="main-header">
      <!--Profile image-->
      <%@personals.each do |personal|%>
      <figure class="img-profile">
        <img src="<%=personal.image%>" alt=""/>

        <figcaption class="name-profile">
          <span><%=personal.name%> <sup>&reg;</sup></span>
        </figcaption>

      </figure>
      <%end%>
      <!--End profile image-->

          <!--Main navigation-->
            <nav id="main-nav" class="main-nav clearfix tabbed">

            <ul>
              <li ><a href="#about"><i class="fa fa-user-o"></i>About</a></li>
              <li><a  href="#portfolio"><i class="fa fa-camera"></i>Story</a></li>
              <li><a  href="#blog"><i class="fa fa-comments"></i>Blog</a></li>

            </ul>

            </nav>
          <!--End main navigation-->

    </div>
    <!--End main header-->

  <%=render "shared/menufooter"%>


</div>
<!--End left content-->
