<div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
  <ul class="social">
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
</ul>

<p>&copy; 2017 Ai Solution</p>

</div>
