<div class="main-title">
  <h1><%= t "skills.title"%></h1>
  <div class="divider">
    <div class="zigzag large clearfix "  data-svg-drawing="yes" >
      <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
      </svg>
    </div>
  </div>
</div>
<!--End main title-->
<!--Content-->
<div class="content">
<div class="block-content margBMedium">
<!--Skill design-->
<div class=" skill dev">
<!--Row-->
<div class="row">
<div class="vc">
<div class="col-md-11">
    <ul class="skills-list clearfix">
      <%@skill1.each do |skill|%>
      <li>
        <h4><%=skill.skillname%></h4>
        <div class="progress">
        <div class="percentage">
        <%=skill.progressbar%>%
        </div>
        </div>
      </li>
      <%end%>

    </ul>

    </div>
    <div class="col-md-1">

      <div class="title dev">
        <span><%=@category1.categoryname%> </span>
      </div>
    </div>

    </div>

  </div>
  <!--End row-->
</div>
<!--End skill design-->


</div>
<!--End block content-->
<!--End block content-->
</div>
<!--End content-->
<div class="content">
<div class="block-content margBMedium">
<!--Skill design-->
<div class=" skill dev">
<!--Row-->
<div class="row">
<div class="vc">
<div class="col-md-11">
    <ul class="skills-list clearfix">
      <%@skill2.each do |skill|%>
      <li>
        <h4><%=skill.skillname%></h4>
        <div class="progress">
        <div class="percentage">
        <%=skill.progressbar%>%
        </div>
        </div>
      </li>
      <%end%>

    </ul>

    </div>
    <div class="col-md-1">

      <div class="title dev">
        <span><%=@category2.categoryname%> </span>
      </div>
    </div>

    </div>

  </div>
  <!--End row-->
</div>
<!--End skill design-->


</div>
<!--End block content-->
<!--End block content-->
</div>

<div class="content">
<div class="block-content margBMedium">
<!--Skill design-->
<div class=" skill dev">
<!--Row-->
<div class="row">
<div class="vc">
<div class="col-md-11">
    <ul class="skills-list clearfix">
      <%@skill3.each do |skill|%>
      <li>
        <h4><%=skill.skillname%></h4>
        <div class="progress">
        <div class="percentage">
        <%=skill.progressbar%>%
        </div>
        </div>
      </li>
      <%end%>

    </ul>

    </div>
    <div class="col-md-1">

      <div class="title dev" style="left:-38px;">
        <span><%=@category3.categoryname%> </span>
      </div>
    </div>

    </div>

  </div>
  <!--End row-->
</div>
<!--End skill design-->


</div>
<!--End block content-->
<!--End block content-->
</div>
