<div class="about">
  <!--Main title-->
<%=render "shared/language"%>
    <div class="main-title">
      <h1​><%=t "personals.title"%></h1>
      <div class="divider">
        <div class="zigzag large clearfix "  data-svg-drawing="yes" >
          <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <path d="M1.357,12.26 10.807,2.81 20.328,12.332
          29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
          </svg>
        </div>
      </div>
    </div>
  <!--End main title-->
<!--Content-->
<div class="content">
  <!--Block content-->
  <%@personals.each do |personal|%>
  <div class="block-content margBSmall">
  <div class=" profile margBSmall">
  <h1><%=personal.name%></h1>
  <h3><%=personal.position%></h3>
  </div>
  <!--Row-->
  <div class="row">
    <div class="col-md-12">
      <p><%=personal.description%></p>
    </div>

  </div>
  <!--End row-->

  </div>
  <!--End block content-->
  <!--Block content-->
  <div class="block-content">
    <div class="info">
      <!--Row-->
      <div class="row">
        <div class="col-md-6">
          <ul class="info-list clearfix">
            <li><span class="inf"><%=t "personals.name"%> </span>  <span class="value"><%=personal.name%></span></li>
            <li><span class="inf"><%=t "personals.dateofbirth"%> </span>  <span class="value"> <%=personal.dateofbirth%> </span></li>
            <li><span class="inf"><%=t "personals.address"%></span>  <span class="value" title="<%=personal.address%>"> <%=truncate(personal.address,length:25,separator:" ")%></span></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="info-list">
            <li><span class="inf"><%=t "personals.email"%></span>  <span class="value"><%=personal.email%></span></li>
            <li><span class="inf"><%=t "personals.phone"%></span>  <span class="value"> <%=personal.phone%></span></li>
            <li><span class="inf"><%=t "personals.facebook"%></span>  <span class="value"><%=personal.socialmedianame%></span></li>
          </ul>
        </div>
      </div>
      <!--End row-->
    </div>
  </div>
  <%end%>
  <!--End block content-->
</div>
<!--End content-->
