<p>From: <%=@contactme.name%></p>

<p>Subject: <%=@contactme.subject%></p>

<blockquote>
  <em><%=@contactme.message%></em>
</blockquote>

<p>Please Reply To This Email Address: <%=@contactme.email%></p>
