<div class="button margTop ofsInTop tCenter">

    <div class="divider">
        <div class="zigzag large clearfix "  data-svg-drawing="yes" >
<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
<path d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
</svg>
</div>
</div>


                  <!--Row-->
  <div class="row ">


    <div class="col-md-12">
      <!-- <a class="but opc-1 ico" href="#">Download my cv</a> -->
      <%=link_to "Contact Me",new_contactme_path,:class=>"but opc-1 ico"%>
    </div>



    </div>
    <!--End row-->


                </div>
