
<div id="wrapper" class="margLTop  margLBottom">
	<!--Container-->
	<div class="container">


			<div class="row ">

		<!--Letf content-->
		<div class="col-md-3 nopr left-content">

	<!--Header-->
	<header id="header">

					<!--Main header-->
					<div class="main-header">
						<!--Profile image-->
            <%@personals.each do |personal|%>
						<figure class="img-profile">
							<img src="<%=personal.image%>" alt=""/>

								<figcaption class="name-profile">
									<span><%=personal.name%> <sup>&reg;</sup></span>
								</figcaption>
						</figure>
            <%end%>
						<!--End profile image-->



							<!--Main navigation-->
								<nav id="main-nav" class="main-nav">

								<ul>
									<li ><a  href="/"><i class="fa fa-arrow-circle-o-right"></i>Back To Home</a></li>
								</ul>

								</nav>
							<!--End main navigation-->

				</div>

				<%=render "shared/menufooter"%>




		</header>
		<!--End  header-->


		</div>
		<!--End left content-->


			<!--Right content-->
			<div class="col-md-9 right-content">




										<!--Portfolio Tab-->
									<section id="blog" class="bgWhite ofsInBottom">

										<!--Portfolio -->
										<div class="blog">

											<!--Main title-->

												<div class="main-title">
													<h1>The Story</h1>
														<div class="divider">
																<div class="zigzag large clearfix "  data-svg-drawing="yes" >
					<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<path d="M1.357,12.26 10.807,2.81 20.328,12.332
						29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
					</svg>
					</div>
					</div>
												</div>

											<!--End main title-->




										<!--Content-->
										<div class="content">

											<!--Block content-->
											<div class="block-content ">

											<!--Works-->
											<div class="blog">




											<!--Row-->
											<div class="row">


									<!--Blog posts-->
									<div class="block-posts ">


										<!--Block post-->
										<div class="block-post clearfix">
                      <%@stories.each do |story|%>
											<div class="col-md-12">
												<div class="post-media margBSmall">
													<img src="<%=story.image%>" alt=""/>
												</div>


												<div class="post-title">
			                                    <a href="blog_single.html">
			                                        <h1><%=story.title%></h1>
			                                    </a>
												<span class="meta-date"><%=story.created_at%></span>
			                          </div>

											<hr>

											<p><%=story.description%></p>

                        <%=link_to "Read More", story, :class=>"but brd"%>

                        <br><br>
											</div>

                      <%end%>
											<div class="clearfix"></div>


											<!--Divider-->
											<div class="divider-m tCenter margTSmall margBottom clearfix">
												<div class="col-md-12">
													<div class="zigzag medium clearfix "  data-svg-drawing="yes" >
		<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="45" height="5" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
		<path d="M1.357,12.26 10.807,2.81 20.328,12.332
			29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
		</svg>
	</div>
												</div>
											</div>
											<!--End divider-->




										</div>
										<!--End block post-->

												</div>
												<!--End blog posts-->


												</div>
												<!--End row-->
                      </div>
											<!--End blog-->

											</div>
											<!--End block content-->



											</div>
											<!--End content-->

											<!--Button-->
											<div class="button ofsInTop tCenter">

													<div class="divider">
															<div class="zigzag large clearfix "  data-svg-drawing="yes" >
				<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
				<path d="M1.357,12.26 10.807,2.81 20.328,12.332
					29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
				</svg>
				</div>
				</div>


				                               	<!--Row-->
                                        <div class="row ">


                													<div class="col-md-12">
                														      <%=link_to "Contact Me",new_contactme_path,:class=>"but opc-1"%>

                													</div>



                													</div>
													<!--End row-->


					                            </div>
												<!--End button-->




												</div>
												<!--End blog-->

											</section>
												<!--End blog tab-->



		</div>
		<!--End right content-->


			</div>
			<!--End  row-->


		</div>
		<!--End  container-->




</div>
<!--End wrapper-->
