
<div id="wrapper" class="margLTop  margLBottom">
	<!--Container-->
	<div class="container">
			<div class="row ">
		<!--Left content-->
		<div class="col-md-3 nopr left-content">
	<!--Header-->
	<header id="header">
					<!--Main header-->
					<div class="main-header">
          <%@personals.each do |personal|%>
						<!--Profile image-->
						<figure class="img-profile">
							<img src="<%=personal.image%>" alt=""/>

								<figcaption class="name-profile">
									<span><%=personal.name %> <sup>&reg;</sup></span>
								</figcaption>

						</figure>
            <%end%>
						<!--End profile image-->

							<!--Main navigation-->
								<nav id="main-nav" class="main-nav">

								<ul>
									<li ><a  href="/"><i class="fa fa-home"></i>Home</a></li>
									<li ><a  href="/stories"><i class="fa fa-arrow-circle-o-right"></i>Back to stories</a></li>
								</ul>

								</nav>
							<!--End main navigation-->

				</div>



				<%=render "shared/menufooter"%>




		</header>
		<!--End  header-->


		</div>
		<!--End left content-->


			<!--Right content-->
			<div class="col-md-9 right-content">




										<!--Portfolio Tab-->
									<section id="blog" class="bgWhite ofsInBottom">

										<!--Portfolio -->
										<div class="blog">

											<!--Main title-->

												<div class="main-title">
													<h1><%=t "stories.title"%></h1>
														<div class="divider">
																<div class="zigzag large clearfix "  data-svg-drawing="yes" >
					<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<path d="M1.357,12.26 10.807,2.81 20.328,12.332
						29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
					</svg>
					</div>
					</div>
												</div>

											<!--End main title-->




										<!--Content-->
										<div class="content single">

											<!--Block content-->
											<div class="block-content ">

											<!--Works-->
											<div class="blog">




											<!--Row-->
											<div class="row">


									<!--Blog posts-->
									<div class="block-posts clearfix">


										<!--Block post-->
										<div class="block-post single clearfix">
											<div class="col-md-12">

												<div class="post-media margBSmall">
													<img src="<%=@story.image%>" alt=""/>
												</div>


												<div class="post-title">
			                                        <h1><%=@story.title%></h1>
												<span class="meta-date"><%=@story.created_at%></span>
			                                </div>


											<ul class="post-meta">
			                                    <li>
			                                        <i class="fa fa-user"></i>
			                                        <span>Post by
			                                            <a href=""><%=@story.author%></a>
			                                        </span>
			                                    </li>

			                                </ul>

											<hr>

											<p><%=@story.description%></p>


											</div>


										</div>
										<!--End block post-->


										</div>
										<!--End blog posts-->


										</div>
										<!--End row-->





			                            </div>
										<!--End blog-->

										</div>
										<!--End block content-->



										</div>
										<!--End content-->


											<!--Main title-->

												<div class="main-title">
													<h1>Leave a comment</h1>
														<div class="divider">
																<div class="zigzag large clearfix "  data-svg-drawing="yes" >
					<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<path d="M1.357,12.26 10.807,2.81 20.328,12.332
						29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
					</svg>
					</div>
					</div>
												</div>

											<!--End main title-->





											<!--Content-->
											<div class="content">

												<!--Block content-->
												<div class="block-content margBMedium">



												<!--Reply-->
												<div class="block-reply">



														<!--Row-->
														<div class="row">


														<div class="col-md-12">
															<%=render "shared/disqus"%>
														<!-- form comment here -->


														</div>

													</div>
													<!--End row-->

												</div>
												<!--End reply-->






												</div>
												<!--End block content-->



												</div>
												<!--End content-->




											<!--Button-->
											<div class="button ofsInTop tCenter">

													<div class="divider">
															<div class="zigzag large clearfix "  data-svg-drawing="yes" >
				<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
				<path d="M1.357,12.26 10.807,2.81 20.328,12.332
					29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
				</svg>
				</div>
				</div>


				                               	<!--Row-->
												<div class="row ">


													<div class="col-md-12">
														      <%=link_to "Contact Me",new_contactme_path,:class=>"but opc-1"%>

													</div>



													</div>
													<!--End row-->


					                            </div>
												<!--End button-->




												</div>
												<!--End blog-->

											</section>
												<!--End blog tab-->



		</div>
		<!--End right content-->


			</div>
			<!--End  row-->


		</div>
		<!--End  container-->




</div>
<!--End wrapper-->
