/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
  *= require font-awesome
  */

  .img-language{
    width: 20px;
  }

 .hide {
    display: none;
  }

   .ctr-top{
     padding-top: 20px;
   }

   .btn:hover{
     background: #000;
     color: #fff;
   }

  .btn-right{
    float: right;
  }

  input[type='submit'], .ui-dialog .ui-dialog-buttonpane button:first-of-type {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #cd5353, #cd5353);
    border-color: #cd5353;
    color: #ffffff;
    font-weight: bold;
}

  .hidden{
    display: none;
  }

  input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  input[type='submit'] {
    cursor: pointer;
  }

  .form {
    margin: -14px;
    margin: -0.875rem;
  }

  .form input[type='submit'] {
    width: 100%;
  }

  .form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14px;
    margin: 0.875rem;

  }

  .form__input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  /* modules/login.css */

  .login {
    color: #eee;
  }

  .login input[type='submit'] {
    border-radius: 0.25rem;
    padding: 16px;
    padding: 1rem;
  }


  .login input[type='submit'] {
    background-color: #cd5353;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
  }

  .login input[type='submit']:focus,
  .login input[type='submit']:hover {
    background-color: #D96060;
  }

  .ctr-thank{
    font-size: 2.300em;
    text-decoration: underline;
  }
