@font-face {
    font-family: 'open_sansbold';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Bold-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-BoldItalic-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansextrabold';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-ExtraBold-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansitalic';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Italic-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Italic-webfont.woff') format('woff'),
         url('../font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Light-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'open_sanslight_italic';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-LightItalic-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Regular-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanssemibold';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Semibold-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-SemiboldItalic-webfont.eot');
    src: url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('http://demo.mutationmedia.net/SPLIT/font/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




