<!DOCTYPE html>
<html>
  <head>
    <title>Sousavoeurn.com</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #efefef;">
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=render "shared/js-partial"%>
  </body>
</html>
